.awards{
    background-color: #122947;
    color: #fff;
    text-align: center;
}
.awards .heading{
    display: flex;
    flex-direction: column-reverse;
}
.awards .heading p {
    color: rgb(198, 51, 51);
}
.awards .heading h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}
.awards .icon{
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: auto;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4% 50%;
    font-size: 32px;
    color: #fff;
}
.awards h1 {
    font-size: 50px;
}
.awards p {
    color: gray;
}
.content-grid4-mtop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
@media(max-width:768px){
    .content-grid4-mtop{
        flex-direction: column;
    }
}